{% extends "layout.html" %}
 
{% block content %}
  <h2>Sign up</h2>
 
  {% for message in form.first_name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.last_name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.confirm.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.first_name.label }}
    {{ form.first_name }}
     
    {{ form.last_name.label }}
    {{ form.last_name }}
     
    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}
    
    {{ form.confirm.label }}
    {{ form.confirm }}
     
    {{ form.submit }}
  </form>
     
{% endblock %}